*.tex linguist-detectable=false
*.lua linguist-detectable=false
*.sql linguist-detectable=true
*.qmd linguist-language=sql
*.tex linguist-language=sql
*.lua linguist-language=sql
*.js linguist-vendored